@require 'nib'

global-reset()

html, body
  height 100%

body
  font-size 16px
  font-family 'Helvetica Neue', Arial, Helvetica, sans-serif
  background #000

#container
  display flex
  align-items center
  justify-content center
  height 100%

canvas
  width 960px
  height 540px
  margin auto

#loading
  color #fff
  font-weight 300
  width 320px
  font-size 24px
  strong
    font-weight bold

@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  #loading
    width 260px
    font-size 20px
  canvas
    width 480px
    height 270px

@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
  canvas
    width 320px + 248px
    height 320px

@media only screen and (min-device-width: 375px) and (max-device-width: 667px)
  canvas
    width 667px
    height 375px
