@require 'nib'

global-reset()

body
  display block
  font-size 16px
  font-family 'Helvetica Neue', Arial, Helvetica, sans-serif

#container
  width 512px
  margin 0 auto
  position relative

#header
  border-top 3px solid #333
  height 64px
  width 512px
  margin 0 auto
  clearfix()
  h1
    line-height 64px
    font-weight 300
    font-size 1.5em
    float left
  button
    position absolute
    top 256px + 64px - 40px
    left 256px - 100px
    width 200px
    height 80px
    line-height 80px
    border 1px solid #666
    border-radius 40px
    background transparent
    padding 0
    display block
    font-size 32px
    color #fff
    background #222
    font-weight bold
    &:hover
      background #333
      color #fff
      cursor pointer

canvas
  margin 0 auto
  display block
  width 512px
  height 512px
