@require 'nib'

global-reset()

html, body
  height 100%

body
  font-size 16px
  font-family 'Helvetica Neue', Arial, Helvetica, sans-serif
  background hsl(210,20%,10%)

#container
  display flex
  align-items center
  justify-content center
  height 100%

canvas
  width 320px
  height 320px + 248px
  border-radius 5px
  margin auto
  box-shadow 0 0 8px hsla(0,0,0,0.3)
